* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e6e7e9;
}

header {
  width: 100%;
  color: #000000;
  text-align: center;
  font-family: 'Alegreya SC', serif;
}

header a {
  color: #000000;
  text-decoration: none;
  font-size: 1em;
}

header a:hover {
  color: #d69358;
}

header span {
  font-style: italic;
  font-size: 1.2em;
  font-family: cursive;
  font-weight: 100;
}

#about {
  font-size: 1em;
}

.fas {
  color: #d69358;
}

.expanse {
  color: #d69358;
}

header hr {
  margin-left: auto;
  margin-right: auto;
  width: 77%;
}

#dash {
  font-family: 'Alegreya SC', serif;
}

#cityForm {
  margin-bottom: 0.5em;
}

label {
  font-family: 'Alegreya SC', serif;
  font-size: 1.1em;
}

#city {
  margin-bottom: 0.2em;
  height: 2.8em;
  width: 8em;
  text-align: center;
  font-family: 'Alegreya SC', serif;
  font-size: 1em;
  border-radius: 2px;
}

#submitBtn {
  height: 2.8em;
  width: 4.5em;
  margin-left: 0.2em;
  color: #000000;
  font-family: 'Alegreya SC', serif;
  font-size: 1em;
  border-radius: 2px;
  background-color: #e6e7e9;
}

button:hover {
  border: solid 2px #e6e7e9;
  filter: brightness(85%);
}

.picture {
  margin: 0.1em;
  width: 20%;
  max-width: 120px;
}

a {
  color: #443935;
}

a:active {
  color: #d5baa3;
}

main {
  width: 100%;
  padding: 1em;
  font-family: 'Alegreya SC', serif;
  text-align: center;
  background-image: url(images/birds-cold-conifer-917494.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  min-height: 70vh;
}

#results {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 278px;
  max-width: 550px;
  border-radius: 2px;
  background: rgb(192, 192, 192, 0.7);
  font-family: 'Alegreya SC', serif;
}

#listTitle {
  font-size: 1.1em;
}

#results ul {
  list-style: none;
  margin: 0.3em;
}

#results li {
  margin: 0.2em;
}

#ytplayer iframe {
  height: calc(70vw * 0.6);
  max-height: 164px;
  max-width: 273px;
  width: 70vw;
}

#youtubeResults {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 278px;
  max-width: 550px;
  border-radius: 2px;
  background: rgb(192, 192, 192, 0.8);
}

#boxCityName {
  font-family: 'Alegreya SC', serif;
}

.box {
  margin: 0.1em;
  padding: 0.5em;
}

#boxItalic {
  font-style: italic;
}

.boxText {
  font-size: 1em;
}

footer {
  color: #4d2d18;
  height: 4em;
  padding: 0.6em;
  width: 100%;
  text-align: center;
  font-family: 'Alegreya SC', serif;
  font-size: 0.7em;
  background-image: linear-gradient(
    to bottom,
    #868281,
    #9e9a9b,
    #b6b3b5,
    #cdcdcf,
    #e6e7e9
  );
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  header a {
    font-size: 1.3em;
  }

  header a:hover {
    color: #d27f3d;
  }

  .fas {
    color: #d27f3d;
  }

  .expanse {
    color: #d27f3d;
  }

  header hr {
    width: 67%;
  }

  label {
    font-size: 1.4em;
  }

  #city {
    height: 3.5em;
    width: 10em;
  }

  #submitBtn {
    height: 3.5em;
    width: 5;
    margin-left: 0.5em;
  }

  #results {
    width: 70%;
  }

  #youtubeResults {
    width: 70%;
  }

  .picture {
    margin: 0.5em;
    width: 20%;
  }

  .box {
    margin: 0.7em;
    padding: 0.5em;
  }

  #boxCityName {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header a {
    font-size: 1.8em;
  }

  header a:hover {
    color: #924e1f;
  }

  #about {
    font-size: 1.1em;
  }

  .fas {
    color: #924e1f;
  }

  .expanse {
    color: #924e1f;
  }

  header hr {
    width: 57%;
  }

  label {
    font-size: 1.6em;
  }

  #city {
    height: 3.8em;
    width: 15em;
  }

  #submitBtn {
    height: 3.8em;
    width: 6em;
    margin-left: 0.8em;
  }

  #results {
    width: 50%;
  }

  #youtubeResults {
    width: 50%;
  }

  .picture {
    margin: 1em;
  }

  .box {
    margin: 1.3em;
    padding: 1.2em;
  }

  #boxCityName {
    font-size: 1.6em;
  }

  .boxText {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  header a {
    font-size: 2em;
  }

  header a:hover {
    color: #633d24;
  }

  #about {
    font-size: 1.2em;
  }

  .fas {
    color: #633d24;
  }

  .expanse {
    color: #633d24;
  }

  header hr {
    width: 47%;
  }

  label {
    font-size: 1.9em;
  }

  #city {
    font-size: 1.2em;
    height: 3.8em;
    width: 18em;
  }

  #submitBtn {
    height: 3.8em;
    width: 6.5em;
    font-size: 1.2em;
    margin-left: 0.6em;
  }

  #results {
    width: 50%;
  }

  #youtubeResults {
    width: 50%;
  }

  .picture {
    margin: 1.5em;
  }

  .box {
    margin: 2em;
    padding: 1.5em;
  }

  #boxCityName {
    font-size: 1.8em;
  }

  .boxText {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1281px) {
  header a {
    font-size: 2.5em;
  }

  header a:hover {
    color: #4d2d18;
  }

  #about {
    font-size: 1.4em;
  }

  .fas {
    color: #4d2d18;
  }

  .expanse {
    color: #4d2d18;
  }

  header hr {
    width: 47%;
  }

  label {
    font-size: 2.1em;
  }

  #city {
    font-size: 1.2em;
    height: 3.8em;
    width: 18em;
  }

  #submitBtn {
    height: 3.8em;
    width: 6.5em;
    font-size: 1.2em;
    margin-left: 1em;
  }

  #results {
    width: 50%;
  }

  #youtubeResults {
    width: 50%;
  }

  .picture {
    margin: 1.5em;
  }

  .box {
    margin: 2.2em;
    padding: 1.8em;
  }

  #boxCityName {
    font-size: 2em;
  }

  .boxText {
    font-size: 1.4em;
  }
}
